In [2]:
import pandas as pd
import numpy as np 
import scipy
from scipy import stats
import statsmodels.api as sm

# Cutlet

In [ ]:
#   IF Myu1 = Myu2 i.e diameters are equal   NULL HYPOTHESIS
#   If Myu1 != Myu2 i.e diameters are not equal ALTERNATIVE HYPOTHESIS

In [ ]:
cutlet = pd.read_csv('/content/Cutlets.csv')
cutlet

In [ ]:
unit1 = cutlet['Unit A']
unit1

In [ ]:
unit2 =cutlet['Unit B']
unit2

In [ ]:
pvalue =stats.ttest_ind(unit1,unit2)[1]
pvalue

0.4722394724599501

In [ ]:
#  Hence this is alternative hypothesis
# Because 5% sigficance is alpha 0.05 default value we campare pvalue with alpha (0.05).
# Inferences : There is significance difference in the diameter of the cutlets

# Tatlab

In [ ]:
tatlab = pd.read_csv('/content/LabTAT.csv')
tatlab

In [19]:
# Now performing Anova testing

tat = pd.DataFrame(tatlab)
stats.f_oneway(tat.iloc[:,0],tat.iloc[:,1],tat.iloc[:,2],tat.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [20]:
# Interpretation :- In Anova testing atleast one MYU should be different for Alternative hypothesis,so here p_value is 2.11e-57 ( 2.11^-57 ) i.e equal to 0 
#                   so it is less then alpha i.e 0.05 hence Alternative hypothesis.
 
 
# Inferences on example :- In the hospital 4 labs there are different measures at taking time to complete one report from 4 different labs.

# Buyers Ratios

In [5]:
from scipy.stats import chi2_contingency
from matplotlib import pyplot as plt

In [3]:
buyers = pd.read_csv('/content/BuyerRatio.csv')
buyers

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [17]:
buy = buyers.iloc[:,1:6]
buy

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [18]:
chi2_contingency(buy)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [25]:
buyy=chi2_contingency(buy)

# Customer Order

In [ ]:
cust = pd.read_csv('/content/Costomer+OrderForm.csv')
cust

In [29]:
cust['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [30]:
cust['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [32]:
cust['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [33]:
cust['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [34]:
custe = ([[271,267,269,280],[29,33,31,20]])
custe

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [36]:
order = pd.DataFrame(custe,index=['Error-Free','Defective'],
                         columns=['Phillippines','Indonesia','Malta','India'])
order

            Phillippines  Indonesia  Malta  India
Error-Free           271        267    269    280
Defective             29         33     31     20

In [37]:
chi2_contingency(order)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))